* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 8px;
}

.app-header {
    margin: 16px 8px;
}

.header-input-label {
    display: block;
    margin: 16px 8px 8px;
}

.header-input {
    margin: 8px;
}

.show-text-button {
    all: unset;
    margin: 8px;
    padding: 8px 16px;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 4px;
    transition: background-color 300ms;
}

.show-text-button:hover {
    background-color: #fff9a1;
    cursor: pointer;
}

.text-from-input {
    margin: 8px 0 32px 8px;
    font-size: 18px;
    font-weight: bold;
}

.text-from-input span {
    font-weight: normal;
    color: blue;
}

a {
    max-width: 300px;
    display: block;
    color: #000;
    text-decoration: none;
}

.nav {
    margin-bottom: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.user-container {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: 16px;
}

.login-button {
    all: unset;
    padding: 8px 16px;
    background-color: aquamarine;
    border-radius: 4px;
    text-transform: uppercase;
}

.logout-button {
    all: unset;
    padding: 8px 16px;
    background-color: rgb(255, 189, 127);
    border-radius: 4px;
    text-transform: uppercase;
}

.login-button:hover,
.logout-button:hover {
    cursor: pointer;
}

.posts-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.post-container,
.post-details-container {
    max-width: 300px;
    margin: 8px;
    padding: 8px;
    border: 1px solid #000;
}

.post-container:hover {
    background-color: rgb(253, 255, 198);
}

.section-component {
    max-width: 700px;
    display: block;
    margin: 8px;
    padding: 16px;
    border: 1px solid #000;
}

.section-component p {
    margin-bottom: 8px;
    font-size: 18px;
}

.login-form {
    display: grid;
    gap: 16px;
}

.login-form__input {
    margin-left: 8px;
}

.login-form__btn {
    all: unset;
    max-width: max-content;
    padding: 8px 16px;
    background-color: aquamarine;
    border-radius: 4px;
    text-transform: uppercase;
}

.login-form__btn:hover {
    cursor: pointer;
}
